<div class="icon col-sm-12 col-md-3 col-xs-12 col-lg-3">
  <a href="{{ visor_link_var }}">
    <img class="icon-pic" src="{{ theme_path }}/images/icon1.png">
    <p class="vg link-icon-text">{{ visor_title_var }}</p>
  </a>
</div>
<div class="icon col-sm-12 col-md-3 col-xs-12 col-lg-3">
  <a href="{{ metadatos_link_var }}">
    <img class="icon-pic" src="{{ theme_path }}/images/icon2.png">
    <p class="cm link-icon-text">{{ metadatos_title_var }}</p>
  </a>
</div>
<div class="icon col-sm-12 col-md-3 col-xs-12 col-lg-3">
  <a href="{{ validador_link_var }}">
    <img class="icon-pic" src="{{ theme_path }}/images/icon3.png">
    <p class="vl link-icon-text">{{ validador_title_var }}</p>
  </a>
</div>
<div class="icon col-sm-12 col-md-3 col-xs-12 col-lg-3">
  <a href="{{ contenidos_link_var }}">
    <img class="icon-pic" src="{{ theme_path }}/images/icon4.png">
    <p class="gc link-icon-text">{{ contenidos_title_var }}</p>
  </a>
</div>
