{#
/**
 * link: https://knackforge.com/blog/pathirakaliappan/create-multi-level-bootstrap-menu-drupal-8
 * @see http://twig.sensiolabs.org/doc/tags/macro.html
 */
#}
<br/>
<br/>
<br/>
<br/>

{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      nivel 0
    {% else %}
      nivel !0
    {% endif %}

    {% for item in items %}
      {% dump(item) %}
      {% if item.below %}
        {% if menu_level == 0 %}
          nivel 0 item
          {{ item.title }}: {{ item.url }}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% else %}
          nivel !0 item
          {{ item.title }}: {{ item.url }}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      {% else %}
        <li {{ item.attributes }}>{{ link(item.title, item.url) }}</li>
      {% endif %}
    {% endfor %}
    termine
  {% endif %}
{% endmacro %}

<!--inicio-->
