{{ dump(breadcrumb) }}
{{ dump(_context|keys) }}
{{ kint(page) }}
<div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="container-wrap">
      <div class="top-menu">
        <div class="row">
          <div class="col-xs-2">
            <div id="IDE-AT-logo"><img class="ideat-pic" src="{{ theme_path }}/images/logo.jpg"></div>
          </div>
          <div class="col-xs-10 text-right menu-1">
            <ul>
              <li class="active">
                <a href="index.html">inicio</a>
              </li>
              <li class="has-dropdown">
                <a href="#">Acerca de</a>
                <ul class="dropdown">
                  <li>
                    <a href="que-es-ideat.html">Qué es la IDE-AT</a>
                  </li>
                  <li>
                    <a href="objetivos.html">Objetivos</a>
                  </li>
                  <li>
                    <a href="marco-legal.html">Marco Legal</a>
                  </li>
                  <li>
                    <a href="entidades.html">Entidades</a>
                  </li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Componentes</a>
                <ul class="dropdown">
                  <li>
                    <a href="marco-normativo.html">Marco normativo</a>
                  </li>
                  <li>
                    <a href="tecnologia.html">Tecnología</a>
                  </li>
                  <li>
                    <a href="estandares.html">Estándares</a>
                  </li>
                  <li>
                    <a href="modelo-gestion.html">Modelo de Gestión</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="contacto.html">Contacto</a>
              </li>
              <li>
                <button class="login-cta">Ingresar</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- <div class="ham-menu"> <div class="topnav" id="myTopnav"> <a href="#home" class="active">Home</a> <a href="#news">News</a> <a href="#contact">Contact</a> <a href="#about">About</a> <a href="javascript:void(0);" style="font-size:15px;"
  class="icon" onclick="myFunction()">&#9776;</a> </div> </div> -->

  <!-- HEADER PRINCIPAL -->
  <header class="header-home">
    <div class="container">
      <!-- <h1 class="head-title1">Infraestructura de datos espaciales para la administración de tierras</h1> -->
      <h1 class="head-title2 col-md-12">IDE-AT</h1>
      <h1 class="head-title1 col-xs-12 col-sm-12 col-md-8 col-lg-8">Infraestructura de datos espaciales para la administración de tierras</h1>
    </div>
  </header>

  <!-- SECCIÓN ICONOS -->
  <section class="icon-section">
    <div class="container">
      <div class="icon-box col-sm-8 col-md-8 col-xs-12 col-lg-8">
        <div class="icon col-sm-12 col-md-3 col-xs-12 col-lg-3">
          <a href="geoportal/index.html">
            <img class="icon-pic" src="{{ theme_path }}/images/icon1.png">
            <p class="vg link-icon-text">Visor Geográfico</p>
          </a>
        </div>
        <div class="icon col-sm-12 col-md-3 col-xs-12 col-lg-3">
          <a href="#">
            <img class="icon-pic" src="{{ theme_path }}/images/icon2.png">
            <p class="cm link-icon-text">Catálogo de metadatos</p>
          </a>
        </div>
        <div class="icon col-sm-12 col-md-3 col-xs-12 col-lg-3">
          <a href="#">
            <img class="icon-pic" src="{{ theme_path }}/images/icon3.png">
            <p class="vl link-icon-text">Validador LADM</p>
          </a>
        </div>
        <div class="icon col-sm-12 col-md-3 col-xs-12 col-lg-3">
          <a href="#">
            <img class="icon-pic" src="{{ theme_path }}/images/icon4.png">
            <p class="gc link-icon-text">Gestor de contenidos</p>
          </a>
        </div>
      </div>
      <!-- NEWS -->
      <div class="news-box col-sm-4 col-md-4 col-xs-12 col-lg-4">
        <h3 class="">Noticias</h3>
        <div class="new-field col-sm-12 col-md-4 col-xs-12 col-lg-4">
          <img src="{{ theme_path }}/images/new1.jpg">
          <h4>Lorem ipsum</h4>
        </div>
        <div class="new-field col-sm-12 col-md-4 col-xs-12 col-lg-4">
          <img src="{{ theme_path }}/images/new2.jpg">
          <h4>Lorem ipsum</h4>
        </div>
        <div class="new-field col-sm-12 col-md-4 col-xs-12 col-lg-4">
          <img src="{{ theme_path }}/images/new3.jpg">
          <h4>Lorem ipsum</h4>
        </div>
        <hr>
        <h4 class="event-title col-sm-6 col-xs-6 col-md-6 col-lg-6">Eventos</h4>
        <a class="event-link col-sm-6 col-xs-6 col-md-6 col-lg-6" href="#">Ver más</a>
      </div>
    </div>
  </section>

  <!-- Entidades -->
  <section class="ent-section">
    <div class="container">
      <div class="ent-box col-sm-12 col-md-7 col-xs-12 col-lg-7">
        <h1 class="ent-title1">Entidades</h1>
        <h1 class="ent-title2">Principales</h1>
      </div>
      <div class="ent-box col-sm-12 col-md-5 col-xs-12 col-lg-5">
        <img src="{{ theme_path }}/images/ent1.jpg">
        <img src="{{ theme_path }}/images/ent2.jpg">
        <img src="{{ theme_path }}/images/ent3.jpg">
        <img src="{{ theme_path }}/images/ent4.jpg">
        <img src="{{ theme_path }}/images/ent5.jpg">
      </div>
    </div>
  </section>

  <!-- Info Proyecto -->
  <section class="icde-section">
    <div class="container">
      <div class="icde-img col-sm-12 col-md-2 col-xs-12 col-lg-2">
        <img src="{{ theme_path }}/images/icde.jpg">
      </div>
      <div class="col-sm-12 col-md-10 col-xs-12 col-lg-10">
        <p class="text-icde">La ICDE tiene como objetivo la construcción e implementación colectiva de políticas que facilita los procesos de gestión de los recursos geográficos, que incluye datos, información y conocimiento, como sustento de la Gobernanza y
          la toma de decisiones. Dentro de sus estrategias se encuentra "Coordinar y armonizar el gobierno geoespacial definiendo acciones encaminadas al desarrollo de estrategias para promover la creación de otras IDE y fortalecer existentes.</p>
      </div>
    </div>

    <hr>

    <div class="container agency-section">
      <div class="agency-box col-sm-12 col-md-6 col-xs-12 col-lg-6">
        <img src="{{ theme_path }}/images/agency.jpg">
        <p></p>
      </div>
      <div class="done-box col-sm-12 col-md-6 col-xs-12 col-lg-6">
        <img src="{{ theme_path }}/images/donante.jpg">
        <p></p>
      </div>
    </div>
  </section>

  <!-- SUB-FOOTER -->
  <section class="subfooter">
    <div class="container">
      <div class="info-contact col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h3>Info de contacto</h3>
        <hr>
        <img src="">
        <img src="">
        <img src="">
        <img src="">
      </div>
      <div class="redes col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h3>Redes Sociales</h3>
        <hr>
        <img src="">
        <img src="">
        <img src="">
        <div class="suscribe-box">
          <a class="suscribe-btn" href="">Suscríbete</a>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer>
    <div class="container">
      Copyright © 2017 Diseñado y Desarrollado por Agencia de Implementación Swissphoto-Incige. Todos los Derechos Reservados.
    </div>
  </footer>

{{ login_form }}
