{#
{{ dump(breadcrumb) }}
{{ kint(page) }}
#}

{{ kint(page) }}

{{ page.header }}
{{ page.featured }}
{{ page.content }}
<!-- SECCIÓN ICONOS -->
<section class="icon-section">
  <div class="container">
    <div class="icon-box col-sm-8 col-md-8 col-xs-12 col-lg-8">
      <div class="icon col-sm-12 col-md-3 col-xs-12 col-lg-3">
        <a href="geoportal/index.html">
          <img class="icon-pic" src="{{ theme_path }}/images/icon1.png">
          <p class="vg link-icon-text">Visor Geográfico</p>
        </a>
      </div>
      <div class="icon col-sm-12 col-md-3 col-xs-12 col-lg-3">
        <a href="#">
          <img class="icon-pic" src="{{ theme_path }}/images/icon2.png">
          <p class="cm link-icon-text">Catálogo de metadatos</p>
        </a>
      </div>
      <div class="icon col-sm-12 col-md-3 col-xs-12 col-lg-3">
        <a href="#">
          <img class="icon-pic" src="{{ theme_path }}/images/icon3.png">
          <p class="vl link-icon-text">Validador LADM</p>
        </a>
      </div>
      <div class="icon col-sm-12 col-md-3 col-xs-12 col-lg-3">
        <a href="#">
          <img class="icon-pic" src="{{ theme_path }}/images/icon4.png">
          <p class="gc link-icon-text">Gestor de contenidos</p>
        </a>
      </div>
    </div>
    <!-- NEWS -->
    <div class="news-box col-sm-4 col-md-4 col-xs-12 col-lg-4">
      <h3 class="">Noticias</h3>
      <div class="new-field col-sm-12 col-md-4 col-xs-12 col-lg-4">
        <img src="{{ theme_path }}/images/new1.jpg">
        <h4>Lorem ipsum</h4>
      </div>
      <div class="new-field col-sm-12 col-md-4 col-xs-12 col-lg-4">
        <img src="{{ theme_path }}/images/new2.jpg">
        <h4>Lorem ipsum</h4>
      </div>
      <div class="new-field col-sm-12 col-md-4 col-xs-12 col-lg-4">
        <img src="{{ theme_path }}/images/new3.jpg">
        <h4>Lorem ipsum</h4>
      </div>
      <hr>
      <h4 class="event-title col-sm-6 col-xs-6 col-md-6 col-lg-6">Eventos</h4>
      <a class="event-link col-sm-6 col-xs-6 col-md-6 col-lg-6" href="#">Ver más</a>
    </div>
  </div>
</section>

<!-- Entidades -->
<section class="ent-section">
  <div class="container">
    <div class="ent-box col-sm-12 col-md-7 col-xs-12 col-lg-7">
      <h1 class="ent-title1">Entidades</h1>
      <h1 class="ent-title2">Principales</h1>
    </div>
    <div class="ent-box col-sm-12 col-md-5 col-xs-12 col-lg-5">
      <img src="{{ theme_path }}/images/ent1.jpg">
      <img src="{{ theme_path }}/images/ent2.jpg">
      <img src="{{ theme_path }}/images/ent3.jpg">
      <img src="{{ theme_path }}/images/ent4.jpg">
      <img src="{{ theme_path }}/images/ent5.jpg">
    </div>
  </div>
</section>

<!-- Info Proyecto -->
<section class="icde-section">
  <div class="container">
    <div class="icde-img col-sm-12 col-md-2 col-xs-12 col-lg-2">
      <img src="{{ theme_path }}/images/icde.jpg">
    </div>
    <div class="col-sm-12 col-md-10 col-xs-12 col-lg-10">
      <p class="text-icde">La ICDE tiene como objetivo la construcción e implementación colectiva de políticas que facilita los procesos de gestión de los recursos geográficos, que incluye datos, información y conocimiento, como sustento de la Gobernanza y
        la toma de decisiones. Dentro de sus estrategias se encuentra "Coordinar y armonizar el gobierno geoespacial definiendo acciones encaminadas al desarrollo de estrategias para promover la creación de otras IDE y fortalecer existentes.</p>
    </div>
  </div>

  <hr>

  <div class="container agency-section">
    <div class="agency-box col-sm-12 col-md-6 col-xs-12 col-lg-6">
      <img src="{{ theme_path }}/images/agency.jpg">
      <p></p>
    </div>
    <div class="done-box col-sm-12 col-md-6 col-xs-12 col-lg-6">
      <img src="{{ theme_path }}/images/donante.jpg">
      <p></p>
    </div>
  </div>
</section>

{{ page.footer }}
