{#
@see https://www.drupal.org/docs/8/theming/twig/debugging-compiled-twig-templates
{{ dump(breadcrumb) }}
{{ kint(page) }}
{% include 'index-temporal.html.twig' %}
<ol>
  {% for key, value in _context  %}
    <li>{{ key }}</li>
  {% endfor %}
</ol>
#}

{{ page.header }}
{{ page.features_first }}
{{ page.sidebar_first }}
{{ page.sidebar_second }}
{{ page.features_second }}
{{ page.features_third }}
{{ page.features_fourth }}
{{ page.highlighted }}
{{ page.footer }}
